appnope==0.1.3; sys_platform == "darwin" and python_version >= "3.8" and (python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0")
asttokens==2.2.1; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
attrs==22.2.0; python_version >= "3.7"
autoflake==2.0.2; python_version >= "3.7"
backcall==0.2.0; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
black==23.3.0; python_version >= "3.7"
cfgv==3.3.1; python_full_version >= "3.6.1" and python_version >= "3.8"
click==8.1.3; python_version >= "3.7"
colorama==0.4.6; python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" and (python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0") and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.8" and (python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0") and python_full_version >= "3.7.0" and platform_system == "Windows"
decorator==5.1.1; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
distlib==0.3.6; python_version >= "3.8"
exceptiongroup==1.1.1; python_version < "3.11" and python_version >= "3.7"
executing==1.2.0; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
filelock==3.10.7; python_version >= "3.8"
flake8==6.0.0; python_full_version >= "3.8.1"
identify==2.5.22; python_version >= "3.8"
iniconfig==2.0.0; python_version >= "3.7"
ipdb==0.13.13; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
ipython==8.12.0; python_version >= "3.8"
isort==5.12.0; python_full_version >= "3.8.0"
jedi==0.18.2; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
matplotlib-inline==0.1.6; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
mccabe==0.7.0; python_version >= "3.6" and python_full_version >= "3.8.1"
mpmath==1.3.0; python_version >= "3.8"
mypy-extensions==1.0.0; python_version >= "3.7"
mypy==1.1.1; python_version >= "3.7"
nodeenv==1.7.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.8"
packaging==23.0; python_version >= "3.7"
parso==0.8.3; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
pathspec==0.11.1; python_version >= "3.7"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.8" and (python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0")
pickleshare==0.7.5; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
platformdirs==3.2.0; python_version >= "3.8"
pluggy==1.0.0; python_version >= "3.7"
pre-commit==3.2.2; python_version >= "3.8"
prompt-toolkit==3.0.38; python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.7.0" or python_version >= "3.11" and python_full_version >= "3.7.0"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.8" and (python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0")
pure-eval==0.2.2; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
pycodestyle==2.10.0; python_version >= "3.6" and python_full_version >= "3.8.1"
pyflakes==3.0.1; python_version >= "3.7" and python_full_version >= "3.8.1"
pygments==2.14.0; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
pytest==7.2.2; python_version >= "3.7"
pyupgrade==3.3.1; python_version >= "3.7"
pyyaml==6.0; python_version >= "3.8"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.11" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
stack-data==0.6.2; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
sympy==1.11.1; python_version >= "3.8"
tokenize-rt==5.0.0; python_version >= "3.7"
tomli==2.0.1; python_version < "3.11" and python_version >= "3.7" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0")
traitlets==5.9.0; python_version >= "3.8" and python_version < "3.11" and python_full_version < "3.0.0" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.4.0" or python_version >= "3.11" and python_full_version < "3.0.0" or python_version >= "3.11" and python_full_version >= "3.4.0"
typing-extensions==4.5.0; python_version >= "3.7"
virtualenv==20.21.0; python_version >= "3.8"
wcwidth==0.2.6; python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.7.0" or python_version >= "3.11" and python_full_version >= "3.7.0"
